<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/addproduct.css">
        <title>Add Product page</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="nav-item" href="/product">Shop</a></li>
                    <li><a class="nav-item" href="/addproduct">Add Products</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form class="for1" method="POST" action="/product">
                <input class="inp" type="text" name="proname">
                <input class="btn-1" type="submit" value="submit">
            </form>
        </main>
    </body>
</html>