<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/product.css">
        <title>Shop page</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="nav-item" href="/product">Shop</a></li>
                    <li><a class="nav-item" href="/addproduct">Add Products</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Welcome to my shop!!!</h1>
            <h2>World class shopping experiance...</h2>
        </main>
    </body>
</html>